<h1>New product</h1>

<%= render "form", product: @product %>
<%= link_to "Cancel", products_path %>


<%# <%= form_with model: @product do |form| %>
  <%# <div> %>
    <%# <%= form.label :name %> 
    <%# <%= form.text_field :name %> 
  <%# </div> %>

  <%# <div> %>
    <%# <%= form.submit %> 
  <%# </div> %>
<%# <% end %> 
